@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }

  :root {
    --radius: 0.5rem;
    --sidebar-background: 211.76 32.69% 20.39%;
    --sidebar-foreground: 240 5.3% 100%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent:365 71% 35%;
    --sidebar-accent-foreground: 240 5.9% 100%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  body {
    @apply bg-base w-screen h-screen;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer components {
  .mainArea {
    @apply absolute w-full lg:w-[calc(100%-16rem)] h-full top-0 lg:left-[16rem] lg:px-4 lg:pb-4 transition-all overflow-hidden;
  }
  .mainArea.collapsed {
    @apply lg:w-[calc(100%-5rem)] lg:left-[5rem];
  }
}
